.skill-row-container {
  width: 366px;
  height: auto;
  margin: 2px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.skill-row-container01 {
  flex: initial;
  width: 40px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-primarybackground-inputbg);
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-primarybackground-700);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.skill-row-text {
  color: var(--dl-color-gray-white);
  width: 100%;
  padding: 2px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}
.skill-row-container02 {
  flex: 0 0 auto;
  width: 280px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-primaryelements-huh);
  border-width: 0px;
  flex-direction: row;
  background-color: var(--dl-color-primarybackground-darkbackground);
  border-bottom-width: 0px;
}
.skill-row-text01 {
  color: var(--dl-color-primaryelements-huh);
  padding: 2px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}
.skill-row-container03 {
  flex: 1;
  width: 40%;
  height: 1px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-primaryelements-huh);
  border-style: dashed;
  border-width: 1px;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.skill-row-container04 {
  flex: initial;
  width: var(--dl-size-size-medium);
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-primaryelements-huh);
  border-width: 2px;
  justify-content: flex-start;
  border-top-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 2px;
}
.skill-row-container05 {
  flex: initial;
  width: 33%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-primarybackground-inputbg);
}
.skill-row-text02 {
  color: var(--dl-color-primaryelements-huh);
  padding: 2px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}
.skill-row-textinput {
  color: var(--dl-color-primaryelements-huh);
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: center;
  text-align: center;
  font-family: Roboto Condensed;
  padding-top: 2px;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  padding-bottom: 2px;
  background-color: var(--dl-color-primarybackground-inputbg);
}
.skill-row-text03 {
  color: var(--dl-color-primaryelements-huh);
  padding: 2px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}
.skill-row-container06 {
  flex: initial;
  width: 33%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-primaryelements-huh);
  border-width: 1px;
  justify-content: center;
  background-color: var(--dl-color-primarybackground-700);
  border-top-width: 0px;
  border-left-width: 1px;
  border-bottom-width: 0px;
}
.skill-row-text04 {
  color: var(--dl-color-primaryelements-huh);
  padding: 2px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}
.skill-row-text05 {
  color: var(--dl-color-primaryelements-huh);
  width: 100%;
  padding: 2px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}
.skill-row-text06 {
  color: var(--dl-color-primaryelements-huh);
  padding: 2px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}
.skill-row-container07 {
  flex: initial;
  width: 33%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-primarybackground-inputbg);
}
.skill-row-text07 {
  color: var(--dl-color-primaryelements-huh);
  padding: 2px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}
.skill-row-textinput1 {
  color: var(--dl-color-primaryelements-huh);
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: center;
  text-align: center;
  font-family: Roboto Condensed;
  padding-top: 2px;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  padding-bottom: 2px;
  background-color: var(--dl-color-primarybackground-inputbg);
}
.skill-row-text08 {
  color: var(--dl-color-primaryelements-huh);
  padding: 2px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}
.skill-row-container08 {
  flex: 0 0 auto;
  width: 32px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  justify-content: center;
}
.skill-row-container09 {
  flex: initial;
  width: 32px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-primaryelements-huh);
  border-width: 1px;
  justify-content: center;
  background-color: var(--dl-color-primaryelements-backgroundprimary);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.skill-row-text09 {
  color: var(--dl-color-gray-white);
  padding: 2px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}
.skill-row-text10 {
  color: var(--dl-color-gray-white);
  width: 100%;
  padding: 2px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.skill-row-text11 {
  color: var(--dl-color-gray-white);
  padding: 2px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 400;
}
.skill-row-root-class-name {
  margin: 2px;
}
.skill-row-root-class-name1 {
  margin: 2px;
}
.skill-row-root-class-name2 {
  margin: 2px;
}
.skill-row-root-class-name3 {
  margin: 2px;
}
.skill-row-root-class-name4 {
  margin: 2px;
}






.skill-row-root-class-name11 {
  margin: 2px;
}
.skill-row-root-class-name12 {
  margin: 2px;
}
.skill-row-root-class-name13 {
  margin: 2px;
}
.skill-row-root-class-name14 {
  margin: 2px;
}
.skill-row-root-class-name15 {
  margin: 2px;
}
.skill-row-root-class-name16 {
  margin: 2px;
}







.skill-row-root-class-name24 {
  margin: 2px;
}
.skill-row-root-class-name25 {
  margin: 2px;
}
.skill-row-root-class-name26 {
  margin: 2px;
}
.skill-row-root-class-name27 {
  margin: 2px;
}
.skill-row-root-class-name28 {
  margin: 2px;
}
.skill-row-root-class-name29 {
  margin: 2px;
}

.skill-row-root-class-name31 {
  margin: 2px;
}
.skill-row-root-class-name32 {
  margin: 2px;
}
.skill-row-root-class-name33 {
  margin: 2px;
}





.skill-row-root-class-name39 {
  margin: 2px;
}
.skill-row-root-class-name40 {
  margin: 2px;
}
.skill-row-root-class-name41 {
  margin: 2px;
}
.skill-row-root-class-name42 {
  margin: 2px;
}


















@media(max-width: 1200px) {
  .skill-row-container04 {
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }
  .skill-row-container05 {
    width: 33.333333%;
  }
  .skill-row-container06 {
    width: 33.333333333%;
  }
  .skill-row-container07 {
    width: 33.3333333333333%;
  }
  .skill-row-root-class-name {
    margin: 2px;
  }
  .skill-row-root-class-name1 {
    margin: 2px;
    margin-top: 4px;
  }
  .skill-row-root-class-name2 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name3 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name4 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name5 {
    margin: 2px;
  }
  .skill-row-root-class-name6 {
    margin: 2px;
    margin-top: 4px;
  }
  .skill-row-root-class-name7 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name8 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name9 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name10 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name11 {
    margin: 2px;
  }
  .skill-row-root-class-name12 {
    margin: 2px;
    margin-top: 4px;
  }
  .skill-row-root-class-name13 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name14 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name15 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name16 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name17 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name18 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name19 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name20 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name21 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name22 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name23 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name24 {
    margin: 2px;
  }
  .skill-row-root-class-name25 {
    margin: 2px;
    margin-top: 4px;
  }
  .skill-row-root-class-name26 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name27 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name28 {
    margin: 2px;
  }
  .skill-row-root-class-name29 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name30 {
    margin: 2px;
  }
  .skill-row-root-class-name31 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name32 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name33 {
    margin: 2px;
  }
  .skill-row-root-class-name34 {
    margin: 2px;
    margin-top: 4px;
  }
  .skill-row-root-class-name35 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name36 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name37 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name38 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name39 {
    margin: 2px;
  }
  .skill-row-root-class-name40 {
    margin: 2px;
    margin-top: 4px;
  }
  .skill-row-root-class-name41 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name42 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name43 {
    margin: 2px;
  }
  .skill-row-root-class-name44 {
    margin: 2px;
    margin-top: 4px;
  }
  .skill-row-root-class-name45 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name46 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name47 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name48 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name49 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name50 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name51 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name52 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name53 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name54 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name55 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name56 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name57 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name58 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name59 {
    margin: 2px;
    margin-top: 2px;
  }
  .skill-row-root-class-name60 {
    margin: 2px;
    margin-top: 2px;
  }
}
